
@model EduHome.Models.ViewModels.CommentVM

<div class="container p-3">
    <div class="row pt-4">
        <div style="margin-left:auto;margin-right:auto;">
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/1A5W6G_d2-0"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <h2 class="text_primary">Comments List</h2>
        </div>
        <form method="post" asp-action="Index">
            <div class="col-10 form-group row">
                <input asp-for="Comment.Commenter" placeholder="@User.Identity.Name"/>
                <input asp-for="Comment.Comment_String" class="form-control" placeholder="Your comment" />
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-info w-150" value="Post Comment" />
            </div>
        </form>
    </div>
    <br />

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-eduhome-tab" data-toggle="pill" href="#pills-eduhome" role="tab" aria-controls="pills-eduhome" aria-selected="true">Recommended by EduHome</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-upvoted-tab" data-toggle="pill" href="#pills-upvoted" role="tab" aria-controls="pills-upvoted" aria-selected="false">Most Upvoted</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-newest-tab" data-toggle="pill" href="#pills-newest" role="tab" aria-controls="pills-newest" aria-selected="false">Newest</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-eduhome" role="tabpanel" aria-labelledby="pills-eduhome-tab">
            @if (Model.IEComment.Count() > 0)
            {
                    <table class="table table-bordered table-striped" style="" width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <label asp-for="Comment.Commenter"></label>
                                </th>
                                <th>
                                    <label asp-for="Comment.Comment_Date"></label>
                                </th>
                                <th>
                                    <label asp-for="Comment.Comment_String"></label>
                                </th>
                                <th>
                                    <label asp-for="Comment.Comment_Likes"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var iecomment in Model.IEComment.OrderByDescending(IEComment => IEComment.Comment_Date))
                            {
                                if (iecomment.Comment_Highlighted == true)
                                {
                            <tr>
                                <td width="30%">@iecomment.Commenter</td>
                                <td width="30%">@iecomment.Comment_Date</td>
                                <td width="30%">@iecomment.Comment_String</td>
                                <td width="30%">@iecomment.Comment_Likes</td>
                                <td class="col-6 text-right">
                                    <div>
                                        <form method="post" asp-action="DeletePost" asp-route-id="@iecomment.Id">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </td>
                                <td class="col-6 text-right">
                                    <div>
                                        <form method="post" asp-action="UnHighlight" asp-route-id="@iecomment.Id">
                                            <input type="submit" value="Unhighlight" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                    <p>No comments created yet</p>
                    }
            </div>
        <div class="tab-pane fade" id="pills-upvoted" role="tabpanel" aria-labelledby="pills-upvoted-tab">
                @if (Model.IEComment.Count() > 0)
                {
                    <table class="table table-bordered table-striped" style="" width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <label asp-for="Comment.Commenter"></label>
                                </th>
                                <th>
                                    <label asp-for="Comment.Comment_Date"></label>
                                </th>
                                <th>
                                    <label asp-for="Comment.Comment_String"></label>
                                </th>
                                <th>
                                    <label asp-for="Comment.Comment_Likes"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var iecomment in Model.IEComment.OrderByDescending(IEComment => IEComment.Comment_Likes))
                            {
                                <tr>
                                    <td width="30%">@iecomment.Commenter</td>
                                    <td width="30%">@iecomment.Comment_Date</td>
                                    <td width="30%">@iecomment.Comment_String</td>
                                    <td width="30%">@iecomment.Comment_Likes</td>
                                    <td class="col-6 text-right">
                                            <div>
                                                <form method="post" asp-action="DeletePost" asp-route-id="@iecomment.Id">
                                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                                </form>
                                            </div>
                                        </td>
                                    <td class="col-6 text-right">
                                            <div>
                                                <form method="post" asp-action="Highlight" asp-route-id="@iecomment.Id">
                                                    <input type="submit" value="Highlight" class="btn btn-danger" />
                                                </form>
                                            </div>
                                        </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No comments created yet</p>
                }
        </div>
        <div class="tab-pane fade" id="pills-newest" role="tabpanel" aria-labelledby="pills-newest-tab">
            @if (Model.IEComment.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="" width:100%">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="Comment.Commenter"></label>
                            </th>
                            <th>
                                <label asp-for="Comment.Comment_Date"></label>
                            </th>
                            <th>
                                <label asp-for="Comment.Comment_String"></label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var iecomment in Model.IEComment.OrderByDescending(IEComment => IEComment.Comment_Date))
                        {
                        <tr>
                            <td width="30%">@iecomment.Commenter</td>
                            <td width="30%">@iecomment.Comment_Date</td>
                            <td width="30%">@iecomment.Comment_String</td>
                            <td class="col-6 text-right">
                                <div>
                                    <form method="post" asp-action="DeletePost" asp-route-id="@iecomment.Id">
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </td>
                            <td class="col-6 text-right">
                                <div>
                                    <form method="post" asp-action="Highlight" asp-route-id="@iecomment.Id">
                                        <input type="submit" value="Highlight" class="btn btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No comments created yet</p>
            }
        </div>
    </div>
</div>